@model YTUsageViewer.ViewModels.PlayList4VideoViewModel

<div id="dlgPlaylist4Video" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Playlists containing @Model.VideoName</h4>
            </div>
            <div class="modal-body">
                <ul class="list-group">
                    @if (Model.PlaylistNames.Any())
                    {
                        foreach (var playlist in Model.PlaylistNames)
                        {
                            <li class="list-group-item">@playlist</li>
                        }
                    }
                    else
                    {
                        <li class="list-group-item">No Playlists to show</li>
                    }
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
            </div>
        </div>

    </div>
</div>

