
@{
    ViewBag.Title = "InfiniteScroll";
    Layout = "~/Views/Shared/_Practice.cshtml";
}

<h2>Programming Quotes</h2>
<div class="scrollable quotes">
</div>
<div class="loader">
    <div /><div /><div />
</div>
<script src="~/Scripts/InfiniteScroll.js"></script>
